<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Expense Tracker</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
</head>

<body>

  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold m-1">家庭記帳本</a>
      <button class="btn btn-outline-dark text-warning fw-bold m-1" type="submit">登出</button>
    </div>
  </nav>

  {{{ body }}}
  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</body>

</html>