<div class="container">


  <div class="row g-0">

    <div class="col-4">
      X
    </div>

    <div class="col-4 pr-0 border border-primary p-0">
      
    </div>

    <div class="col-4">
      x
    </div>

  </div>


  <div class="row g-0">

    <div class="col-4">
      x
    </div>

    <div class="col-8 g-0">
      <table class="table p-0">
        <tr>
          <td class="col-1 table-secondary align-middle p-0">
            <i class="fa-solid fa-house"></i>
          </td>
          <td class="col-2 table-secondary p-0">
            <p class="text-sm-start">午餐</p>
            <p class="text-sm-start">2023/07/01</p>
          </td>
          <td class="col-1 table-secondary align-middle p-0">
            60
          </td>
          <td class="col-4 align-middle p-0">
            <button type="button" class="btn">修改</button>
            <button type="button" class="btn">刪除</button>
          </td>
        </tr>
      </table>
    </div>




    <div class="row g-0">

      <div class="col">
        x
      </div>

      <div class="col">
        <button type="button" class="btn btn-warning">新增支出</button>
      </div>

      <div class="col">
        x
      </div>

    </div>


  </div>